[submodule "ilk-compiler"]
	path = ilk-compiler
	url = https://github.com/ESROCOS/ilk-compiler.git
[submodule "ilk-generator"]
	path = ilk-generator
	url = https://github.com/ESROCOS/ilk-generator.git
[submodule "urdf2kindsl"]
	path = urdf2kindsl
	url = https://bitbucket.org/robcogenteam/urdf2kindsl.git
[submodule "dconv"]
	path = dconv
	url = https://github.com/haianos/dconv-tool.git
