[submodule "ilk-compiler"]
	path = ilk-compiler
	url = https://github.com/ESROCOS/ilk-compiler.git
[submodule "urdf2kindsl"]
	path = urdf2kindsl
	url = https://bitbucket.org/robcogenteam/urdf2kindsl.git
[submodule "dconv"]
	path = dconv
	url = https://github.com/haianos/dconv-tool.git
[submodule "robot-model-tools"]
	path = robot-model-tools
	url = https://github.com/mfrigerio17/robot-model-tools
[submodule "ilk-generator"]
	path = ilk-generator
	url = https://github.com/mfrigerio17/ilk-generator
