TABLE {
    border-collapse: collapse;
    border-spacing: 0px;
    font-family: monospace;
    font-size: 16;
}
TD.linenum { color: #909090;
   text-align: right;
   vertical-align: top;
   font-weight: bold;
   border-right: 1px solid black;
   border-left: 1px solid black;
}
TD.added { background-color: #DDDDFF; }
TD.modified { background-color: #BBFFBB; }
TD.removed { background-color: #FFCCCC; }
TD.normal { background-color: #FFFFE1; }

